$cWhite: #ffffff;
$cBlack: #00040c;
$cSubTitle: #535353;
$cGray: #f2f2f2;
$cSoftG: #c6c6c6;
$cHardG: #4f4f4f;
$cWineRed: #904669;
$cBlue:#1565e6;
$cBBlack:#00040c;

$contentMaxWidth: 1080px;
$navHeight: 100px;
