@use "../globals" as *;
@use "../parts/common" as *;

.sticky {
  &__container {
    @extend .basic-section;
    position: absolute;
    margin-bottom: 0;
    top: 116px;
    width: 100%;

    
    @include mq(lg) {
      position: sticky;
      top: 200px;
      width: calc(100% - 16.83vw);
    }
  }

  &__img-wrap {
    height: 323px;
    width: 220px;
    top: 200px;
    right: 20px;
    background-color: gray;
    margin: 0 auto;

    @include mq(lg) {
      margin-right: 0;
      height: 417px;
      width: 284px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
  // &__img {

  // }
}

.aboutMv {
  // margin-top: -323px;
  position: relative;
  z-index: -100;

  //!sticky__img-wrapの高さ分
  @include mq(lg) {
    margin-top: -417px;
  }

  &__bg {
    margin-left: -40px;
    height: 376px;
    background-image: url(../images/authorBg.webp);
    background-size: cover;
    background-position: center;
    filter: blur(20px);

    @include mq(md) {
      margin-left: -78px;
      height: 416px;
    }
    @include mq(lg) {
      margin-left: -102px;
    }
  }

  &__intro {
    @extend .basic-section;
    margin-top: 104px;

    @include mq(md) {
      margin-top: 48px;
    }

    @include mq(lg) {
      ///!
      padding-right: 400px;
      // margin: 0;
      // width: calc((100% - 1080px) - (284px + 116px))
    }
  }

  &__title {
    & .main-title {
      color: $cBlack;
    }
  }
}

.skill {
  background-color: $cGray;
  // padding-top: 24px;
  // padding-bottom: 24px;
  margin-bottom: 130px;

  @include mq(lg){
    margin-bottom: 200px; 
  }


  &__container {
    @extend .basic-section;
    margin-bottom: 0;
    
    @include mq(lg) {
      padding-top: 32px;
      // padding-bottom: 32px;
      ///!
      padding-right: 400px;
    }
  }

  &__item {
    border-top: 1px solid;
    padding-top: 24px;
    padding-bottom: 24px;
    
  }

  &__txt {
    margin-bottom: 40px;

    @include mq(lg) {
      margin-bottom: 56px;
    }
  }

  &__table {
    & .table-head {
      margin-bottom: 8px;

    }
  }
}

.vision {
  @extend .basic-section;
  background-color: teal;

  @include mq(lg) {
    padding-right: 400px;
  }

  &__table {
    width: 100%;
  }

  &__head {
    height: 90px;
    background-color: $cBlue;
    color: $cWhite;
  }

  &__data {
    border-bottom: 1px solid $cBlue;
  }



}
