@use "../globals" as *;
@use "../parts/common" as *;

.mv {
  position: relative;

  height: 94vh;
  
  @include mq(lg) {
    height: 100vh;
  }
  
  &__container {
    height: 100%;
    @extend .basic-section;

    @include mq(lg){
      width: calc(100% - 16.83vw);
      max-width: 1080px;
    }
  }

  &__scrolldown {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;

    @include mq(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid $cSoftG;
      width: 102px;
      height: 102px;
      border-radius: 50%;
    }

    &-str {
      font-size: 11px;
    }
    
    &-arrow {
      transform:  transformY(4px) rotate(-225deg);
      animation: bounce 2s linear infinite;
      color: $cSoftG;

    }

    @keyframes bounce {
      0% {
        transform: translateY(4px) rotate(-225deg);
        opacity: 0;
      }
      40% {
        transform: translateY(8px) rotate(-225deg);
        opacity: 1;
      }
      60% {
        transform: translateY(12px) rotate(-225deg);
        opacity: 1;
      }
      100% {
        transform: translateY(16px) rotate(-225deg);
        opacity: 0;
      }

    }
  }

  &__title-wrap {
    height: 33.9vh;
    display: flex;
    align-items: flex-end;

    @include mq(lg){
      height: 37.9vh;
    }
  }


  &__catch-wrap {
    width: min(100%, 304px);
    @extend .font-md;
    font-weight: 600;
    margin-top: 2.884vh;
    
    @include mq(lg){
      width: min(100%, 392px);
      // max-width: 402px;
      margin-top: 40px;
    }

    & .catch {
      @include mq(lg) {
        font-size: 18px;
      }
    }
  }

  &__slide-wrap {
    width: calc(100% + 32px);
    margin-top: 3.57vh;
    // margin-right: -16px;
    margin-left: -16px;
    
    @include mq(sm) {
      max-width: 304px;
      margin-left: auto;
    }
    @include mq(lg) {
      max-width: 384px;
    }
  }
  
  &__slide {
    aspect-ratio: 1.414 / 1;
    width: 100%;
    border-top: 1px solid $cBlack;
    border-bottom: 1px solid $cBlack;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(sm){
      border: 1px solid $cBlack;
    }

    & img {
      width: 60%;
      height: 90%;

    }
    // background: url(../images/kazLogo.svg);
    // background-color: gray;

    @include mq(sm) {
      aspect-ratio: 1;
    }

    @include mq(lg) {
      aspect-ratio: auto;
      width: 384px;
      height: 302px;
    }
    &-descript {
      font-size: 12px;
      width: calc(100% - 32px);
      line-height: 14px;
      margin-top: 4px;
      margin-left: 16px;

      .blue {
        color: $cBlue;
      }

      @include mq(sm) {
        width: 100%;
        margin-left: 0;
      }

      @include mq(md) {
        font-size: 14px;
      }
    }
  }
}

.about {
  padding-left: 0;
  padding-right: 0;
  background-color: $cGray;
  // background-color: teal;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 96px;

  @include mq(md){
    margin-bottom: 120px;
  }
  
  @include mq(lg) {
    margin-bottom: 216px;
  }

  &__inner {
    background-color: $cWhite;
    border: 3px solid $cBlue;
    position: relative;
    padding-top: 56px;
    margin-right: 16px;
    padding-left: 32px;
    padding-right: 16px;

    // padding-bottom: 16px;
    // @extend .mb-xl;

    @include mq(md) {
      margin-left: 16px;
      max-width: 624px;

      margin: 0 auto;
    }

    // @media screen and (min-width: 1000px) {
    //   width: 1000px;
    //   padding-top: 58px;

    //   .about__img-wrap {
    //     max-width: 319px;
    //   }

    // }

    @include mq(lg) {
      max-width: 976px;
      width: 90%;
      padding-left: 80px;
      padding-right: 96px;
    }
  }

  &__decoration {
    display: block;
    background-color: $cBlue;
    width: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__bg-decoration {
    display: none;
    position: absolute;

    @include mq(md) {
      display: block;
      width: 25%;
      ///////////////////
      height: 40%;
      top: 15px;
      right: 0;
      background-image: url(../images/kazLogo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      // background-fir
    }
  }

  // &__content {
  //   padding-left: 16px;
  //   padding-right: 16px;
  //   position: relative;

  // }

  &__title {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;

    .sub-title {
      margin-bottom: 0;
    }
  }

  &__title-first {
    margin-bottom: 8px;
    margin-right: 32px;

  }

  &__title-second {
    & .main-title {
      color: $cBlack;
    }
    // & .sub-title {

    // }
  }

  &__body {
    @include mq(lg) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__img {
    background-color: $cGray;
    object-fit: cover;
    &-wrap {
      width: 100%;
      max-width: 360px;
      margin-bottom: 0;
      margin-bottom: 24px;
      @include mq(md) {
        ////////////////////////
        max-width: 289px;
      }
    }
  }

  &__list {
    text-align: left;
    width: 100%;
    table-layout: auto;
    word-break: break-all;

    @include mq(lg) {
      padding-left: 30px;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 1.7;
    display: block;
    padding-bottom: 24px;

    &:last-child {
      .about__list-data {
        margin-bottom: 0;
      }
    }
    
  }

  &__viewmore-link {
    height: 68px;
    border-top: 1px solid $cBlack;
    // margin-top: 24px;
    cursor: pointer;
  }
}

.work {
  @extend .basic-section;

  &__item {
    display: flex;

    &:nth-child(1){
      .work__item-link {
        border-top: 1px solid $cBlack;
      }
    }
    
    &-link {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $cBlack;
      padding: 16px;

      
      @include mq(md) {
        flex-direction: row;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      @include mq(md){
        margin-left: 16px;


      }

      & .view-more {
        text-align: end;
        font-size:14px;
      }
    }

  }
  &__number {
    width: 10vw;
    padding-top: 16px;
    font-weight: bold;

    @include mq(md){
      width: 64px;
    }

    &-index {
      font-size: 32px;
      color: $cBlue;
      font-weight: bold;
    }

    &-maxIndex {
      display: none;
      color: $cBlue;
      font-size: 16px;

      @include mq(md){
        display: inline;
      }
    }

  }

  
  &__thum {
    aspect-ratio: 1 / 1;
    background-color: gray; 
    margin-bottom: 16px;
    
    @include mq(md) {
      max-width: 212px;
      width: 100%;
      margin-bottom: 0;

    }

    @include mq(lg){
      max-width: 304px;
    }
  }

  &__info-wrap {
    height: 112px;

    @include mq(md){
      height: auto;
    }
  }

  &__date {
    font-size: 14px;
  }

  &__name {
    font-size: 16px;
    font-weight:500;
    margin-top: 8px;

    @include mq(md){
      font-size: 18px;
      margin-top: 16px;
    }
    @include mq(lg){
      font-size: 28px;
      margin-top: 24px;
    }

    &-en {
      display: none;
      font-size: 12px;
      color: $cHardG;
      margin-left: 4px;
      

      @include mq(md) {
        display: block;
      }

      @include mq(lg){
        font-size: 14px;
      }
    }
  }
}

// .work {
//   padding: 0 30px;
//   @extend .content-width;
//   @extend .mb-xl;

//   &__title {
//     //////////
//     .sub-title {
//       margin-bottom: 36px;

//       @include mq(md){
//         margin-bottom: 56px;
//       }

//     }
//   }

//   &__list {
//     padding: 0;

//     @include mq(md ){
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//     }
//   }

//   &__item {
//     list-style: none;
//     margin-bottom: 20px;

//     &::before {
//       content: '';
//       display: block;
//       padding-top: 56.25%;

//       // background-image: url(../images/test.jpg);
//       // background-size: contain;
//       // background-repeat: no-repeat;
//       background-color: gray;

//     }

//     @include mq(md){
//       width: 48%;
//     }
//     @include mq(lg){
//       width: 32%;
//     }
//   }

//   &__name {
//     font-size: 14px;
//   }
//   &__des {
//     font-size: 12px;
//   }

// }
