@use "../globals" as *;
@use "../parts/common" as *;



.mv {
  height: 94vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &__title-wrap {
    height: 26.9vh;
    display: flex;
    align-items: flex-end;
  }


  &__title {
    display: inline-block;

    &-first {
      font-size: 6.4vw;
      // font-size: (6.4vw, 10px);
      // font-size: clamp(10px, 6.4vw, 48px);
      color: $cBlack;
      font-family: "Helvetica", "Arial", sans-serif;
      font-style: oblique;
      font-weight: 300;

      @include mq(md){
        font-size: min(3.75vw, 48px);
      }
    }
    &-second {
      font-family: "Helvetica", "Arial", sans-serif;
      font-weight: bold;
      font-size: 13.33vw;
      // font-size: clamp(10px, 13.33vw, 128px);
      color: $cBlack; 
      line-height: .9;
      
      @include mq(md){
        font-size: min(10vw, 128px);
      }
    }
    
    &-third {
      font-size: 6.4vw;
      // font-size: clamp(10px, 6.4vw, 48px);
      font-weight: bold;
      color: $cWhite;
      -webkit-text-stroke: 1px $cBlue;
      text-align: right;

      @include mq(){
        font-size: min(3.75vw, 48px);
      }

      
      @include mq(md){
        -webkit-text-stroke: 2px $cBlue;
        
      }
      
    }
  }

  &__txt-wrap {
    width: min(100%, 304px);
    @extend .font-md;
    font-weight: 600;
    margin-top: 2.884vh;

  }

  &__slide-wrap {
    width: calc(100% + 32px);
    margin-top: 10.57vh;
    // margin-right: -16px;
    margin-left: -16px;
    
    @include mq(sm){
      max-width: 304px;
      margin-left: auto;

    }
    @include mq(lg){
      max-width: 384px;
    }
  }
  
  &__slide {
    aspect-ratio: 1.414 / 1;
    width:100%;
    background-color: gray; 

    @include mq(sm) {
      aspect-ratio: 1;
    }

    @include mq(lg) {
      aspect-ratio: auto;
      width: 384px;
      height: 302px;
    }
    &-descript {
      font-size: 12px;
      width: calc(100% - 32px);
      line-height: 14px;
      margin-top: 4px;
      margin-left: 16px;
      
      
      .blue {
        color: $cBlue;
      }
      
      @include mq(sm) {
        width: 100%;
        margin-left: 0;
      }

      @include mq(md){
        font-size: 14px;
      }
    }

  }

  

}

.about {
  padding-left: 0;
  padding-right: 0;
  background-color: $cGray;
  // background-color: teal;
  padding-top: 60px;
  padding-bottom: 60px;

  
  &__inner {
    background-color: $cWhite;
    border: 3px solid $cBlue;
    position: relative;
    padding-top: 56px;
    margin-right: 16px;
    padding-left: 32px;
    padding-right: 16px;

    
    // padding-bottom: 16px;
    // @extend .mb-xl;
  
    @include mq(md){
      margin-left: 16px;
      max-width: 624px;
  
      margin:0 auto;
    }
  
    // @media screen and (min-width: 1000px) {
    //   width: 1000px;
    //   padding-top: 58px;
  
    //   .about__img-wrap {
    //     max-width: 319px;
    //   }
      
    // }

    @include mq(lg){
      max-width: 976px;
      width: 90%;
      padding-left: 80px;
      padding-right: 96px;
    }


  }

  &__decoration {
    display: block;
    background-color: $cBlue;
    width: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__bg-decoration {
    display:none;
    position: absolute;

    @include mq(md){
      display: block;
      width: 25%;
      ///////////////////
      height: 40%;
      top: 15px; 
      right: 0;
      background-image: url(../images/kazLogo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      // background-fir
    }
  }

  // &__content {
  //   padding-left: 16px;
  //   padding-right: 16px;
  //   position: relative;

  // }

  &__title {
    margin-bottom: 24px;
    display: flex; 
    flex-wrap: wrap;

  }

  &__title-first {
    margin-bottom: 8px;
    margin-right: 32px;

  }
    
    &__title-second {
      & .main-title {
        color: $cBlack;
      }
        // & .sub-title {
          
        // }
  }

  &__body {
    @include mq(lg){
      display: flex;
      align-items: flex-start;
    }
    
  }
  
  &__img {
    background-color: $cGray;
    object-fit: cover;
    &-wrap {
      width: 100%;
      max-width: 360px;
      margin-bottom: 0;
      margin-bottom: 24px;
      @include mq(md){
        
        ////////////////////////
        max-width: 289px;
      }
    }
  }

  &__list {
    text-align: left;
    width: 100%;
    table-layout: auto;
    word-break: break-all;  
    

    @include mq(lg){
      padding-left :30px;
    }


  }

  &__item {
    font-size: 14px;
    line-height: 1.7;
    display: block;
    padding-bottom: 24px;

    &:last-child {
      .about__list-data {
        margin-bottom: 0;

      }
    }
    &-head {
      color: $cBlue;
      display: block;

      &::before {
        content:'';
        display: inline-block;
        height:11px;
        width: 11px;
        background-color: $cBlue;
        margin-right: 5px;

      }
      
    }
    &-data {
      display: block;
  
    }
  }

  &__viewmore-link {
    height: 68px;
    border-top: 1px solid $cBlack;
    // margin-top: 24px;  
    cursor: pointer;

  }
}

// .work {
//   padding: 0 30px;
//   @extend .content-width;
//   @extend .mb-xl;

//   &__title {
//     //////////
//     .sub-title {
//       margin-bottom: 36px;

//       @include mq(md){
//         margin-bottom: 56px;
//       }

//     }
//   }


//   &__list {
//     padding: 0;
    
//     @include mq(md ){
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//     }
//   }

//   &__item {
//     list-style: none;
//     margin-bottom: 20px;
    
//     &::before {
//       content: '';
//       display: block;
//       padding-top: 56.25%;

//       // background-image: url(../images/test.jpg);
//       // background-size: contain;
//       // background-repeat: no-repeat;
//       background-color: gray;

//     }

//     @include mq(md){
//       width: 48%;
//     }
//     @include mq(lg){
//       width: 32%;
//     }
//   }

//   &__name {
//     font-size: 14px;
//   }
//   &__des {
//     font-size: 12px;
//   }

// }

