@use "../globals" as *;
@use "../parts/common" as *;

.workMv {
  // margin-top: -323px;
  position: relative;
  z-index: -100;

  // //!sticky__img-wrapの高さ分
  // @include mq(lg) {
  //   // margin-top: -417px;
  // }

  &__bg {
    margin-left: -40px;
    height: 222px;
    background-image: url(../../images/cafeMv.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(20px);

    @include mq(md) {
      margin-left: -78px;
    }
    @include mq(lg) {
      height: 416px;
      margin-left: -102px;
    }
  }

  &__intro {
    @extend .basic-section;
    margin-top: 104px;

    @include mq(md) {
      margin-top: 168px;
    }
    
    @include mq(lg) {
      // margin-top: 168px;
      ///!
      padding-right: 400px;
      // margin: 0;
      // width: calc((100% - 1080px) - (284px + 116px))
    }
  }

  &__title {
    & .main-title {
      color: $cBlack;
    }
  }
}

.stickyWork {

  &__container {
    @include mq(lg) {
      position: absolute;
      top: 216px;
      width: 100%;
      max-width: none;
    }

  }

  &__img-wrap {
    width: calc(100% - 32px);
    max-width: 308px;
    height: auto;
    box-shadow: none;


    @include mq(md) {
      max-width: 416px;
    }

    @include mq(lg) {
      max-width: 584px;
      margin-right: auto;
    }
  }
}


.pageTitleWork{
    text-align: end;


    &__container {
        padding-right: 8.415vw;
        width: 100%;

    }
}

