@use "../globals" as *;

.bent-arrow {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -8px;
  border-top: 2.5px $cSoftG solid;
  border-right: 2.5px $cSoftG solid;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}