@use "../globals" as *;

// .swiper-slide {
//   height: 500px;
//   overflow: hidden;

//   @include mq(lg) {
//     box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
//   }

//   & > img {
//     width: 100%;
//     height: 100%;
//     max-width: 100%;
//     object-fit: cover;
//     transform: scale(1.3);
//     transition: transform 1.9s ease;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 61, 125, 0.1);
//     color: red;
//   }

//   &-active {
//     & > img {
//       transform: none;
//     }

//     & .hero__title {
//       opacity: 1;
//       transform: translate(-50%, -50%);
//     }
//   }
// }

// .hero {
//   overflow: hidden;
//   padding-top: $navHeight;
  
//   &__title {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, calc(-50% + 20px));
//     color: $cWhite;
//     font-size: 25px;
//     z-index: 2;
//     opacity: 0;
//     transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
//   }

//   &__footer {
//     position: absolute;
//     left: 50%;
//     bottom: 20px;
//     transform: translateX(-50%);
//     z-index: 2;
//     height: 68px;
//     width: 22px;
//     overflow: hidden;
//   }

//   &__downarrow {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 6px;
//     @include animation(
//       $name: kf-arrow-anime,
//       $iteration-count: infinite,
//       $duration: 2s,
//       $timing-function: linear
//     );
//   }

//   // &__scrolltext {
//   //   position: absolute;
//   //   transform: rotate(90deg);
//   //   color: rgba(255, 255, 255, 0.7);
//   //   left: -8px;
//   //   top: 11px;
//   //   font-size: 1.2em;
//   // }
// }

// .swiper {
//   overflow: visible !important;
  
  
  
//   &-slide {
//   }
  
//   &-img-wrap {
//     width: 160px;
//     height: 160px;
//     background-color: gray;
//     @include mq(lg){
//       width: 240px;
//       height: 240px;
      
      
//     }

//   }
// }


.swiper {

  &__btns {
    display: flex;
    justify-content: flex-end;
  }
  // display: flex;
  // justify-content: center;
  // align-items: center;
  
  // &-wrapper {
  //   display: flex;
  //   justify-content: flex-start;
  //   gap: 15px; /* スライド間の隙間（15px） */
  // }

  overflow: visible !important;

  &-slide {
    width: 160px;

    @include mq(lg){
      width: 320px;

    }

    &-name {
      font-weight: 300;
      font-size: 12px;
    }
  }
  
  &-img-wrap {
    width: 160px; /* 画像の幅 */
    height: 160px; /* 画像の高さ */
    // display: flex;
    // justify-content: center;
    // align-items: center;
  
    @include mq(lg){
      width: 320px;
      height: 320px;
    }
    
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 画像が枠を超えないように */

    & img {
      object-fit: cover;
    }

  }

  // &-button-prev {

  //   &::after {
  //     color: $cBlack;

  //   }
    
  // }
  // &-button-next {
  //   &::after {
  //     color: $cBlack;
  
  //   }
// }

.swiper-button-next,
.swiper-button-prev {
  position: static;
  border: 2px solid $cBlue;
  border-radius: 50%;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  top: auto;
  transform: scale(0.7) ;
  margin-top: 2px;

  @include mq(md) {

  }

  // @media (min-width: 1110px){
  //   left: calc((100vh - 1080px) / 2);
  // }

  &::after {
    display: block;
    transform: none;
    color: $cBlue;
  }
}
.swiper-button-prev {
  right: 0;
  &::after {
    transform: translateX(-3px) scale(0.6);
  }
}

.swiper-button-next {
  right: 190px;
 

  @include mq(md) {
    
  }
  &::after {
    transform: translateX(3px) scale(0.6);
  }
}

  }
