.appear.up .item {
  transform: translateY(6px);
}

.appear.down .item {
  transform: translateY(-6px);
}

.appear.left .item {
  transform: translateX(40px);
}

.appear.right .item {
  transform: translateX(-40px);
}

.appear .item {
  transition: all 0.8s;
  opacity: 0;
}
.appear.inview .item {
  opacity: 1;
  transform: none;
}
.appear.inview .item:nth-child(1) {
  transition-delay: 0.1s;
}
.appear.inview .item:nth-child(2) {
  transition-delay: 0.2s;
}
.appear.inview .item:nth-child(3) {
  transition-delay: 0.3s;
}
.appear.inview .item:nth-child(4) {
  transition-delay: 0.4s;
}
.appear.inview .item:nth-child(5) {
  transition-delay: 0.5s;
}
.appear.inview .item:nth-child(6) {
  transition-delay: 0.6s;
}
.appear.inview .item:nth-child(7) {
  transition-delay: 0.7s;
}
.appear.inview .item:nth-child(8) {
  transition-delay: 0.8s;
}
.appear.inview .item:nth-child(9) {
  transition-delay: 0.9s;
}
.appear.inview .item:nth-child(10) {
  transition-delay: 1s;
}

.bent-arrow {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -8px;
  border-top: 2.5px #c6c6c6 solid;
  border-right: 2.5px #c6c6c6 solid;
  transform: rotate(-45deg);
  transform-origin: center;
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .swiper-slide {
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.3);
  transition: transform 1.9s ease;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}
.swiper-slide-active > img {
  transform: none;
}
.swiper-slide-active .hero__title {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.hero {
  overflow: hidden;
  padding-top: 100px;
}
.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 20px));
  color: #ffffff;
  font-size: 25px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
}
.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}
.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  animation-name: kf-arrow-anime;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.hero__scrolltext {
  position: absolute;
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}

@keyframes kf-arrow-anime {
  0%, 50%, 100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}
.animate-title,
.tween-animate-title {
  opacity: 0;
}
.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.04s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.08s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.16s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.4s;
}
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.44s;
}
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.52s;
}
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.56s;
}
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.64s;
}
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.68s;
}
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.72s;
}
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.76s;
}
.animate-title.inview .char:nth-child(20) {
  animation-delay: 0.8s;
}
.animate-title.inview .char:nth-child(21) {
  animation-delay: 0.84s;
}
.animate-title.inview .char:nth-child(22) {
  animation-delay: 0.88s;
}
.animate-title.inview .char:nth-child(23) {
  animation-delay: 0.92s;
}
.animate-title.inview .char:nth-child(24) {
  animation-delay: 0.96s;
}
.animate-title.inview .char:nth-child(25) {
  animation-delay: 1s;
}
.animate-title.inview .char:nth-child(26) {
  animation-delay: 1.04s;
}
.animate-title.inview .char:nth-child(27) {
  animation-delay: 1.08s;
}
.animate-title.inview .char:nth-child(28) {
  animation-delay: 1.12s;
}
.animate-title.inview .char:nth-child(29) {
  animation-delay: 1.16s;
}
.animate-title.inview .char:nth-child(30) {
  animation-delay: 1.2s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
.img-zoom, .bg-img-zoom {
  opacity: 0;
}
.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  transform: scale(1.05);
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}
.img-bg50::before {
  display: block;
  content: "";
  padding-top: 50%;
}

#mobile-menu__container {
  z-index: 100;
  background-color: #1565e6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11vh 20px;
  display: none;
}
#mobile-menu__container .main-title,
#mobile-menu__container .sub-title {
  color: #ffffff;
}

.mobile-menu__title {
  margin-bottom: 5vh;
}
.mobile-menu__title-second {
  display: block;
  line-height: 1;
}
.mobile-menu__btn {
  cursor: pointer;
  width: 100%;
  height: 152px;
  border-bottom: 1px solid #00040c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn-str {
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  transform: rotate(270deg);
  letter-spacing: 0.05em;
}
.mobile-menu__btn .borders-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7px;
  width: 24px;
  transform: rotate(270deg);
  margin-top: 24px;
}
.mobile-menu__btn span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #00040c;
  transition: all 0.6s;
}
.mobile-menu__item {
  margin-bottom: 1vh;
}

.menu-open #mobile-menu__container {
  display: block;
  transform-origin: top;
  animation-name: kf-menu-appear;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
  animation-name: kf-title-appear;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.28s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.35s;
}
.menu-open .mobile-menu__btn span {
  transform-origin: center;
  display: block;
}
.menu-open .mobile-menu__btn span:nth-child(1) {
  animation-name: kf-span-top;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.menu-open .mobile-menu__btn span:nth-child(2) {
  animation-name: kf-span-middle;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.menu-open .mobile-menu__btn span:nth-child(3) {
  animation-name: kf-span-end;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-span-top {
  0% {
    rotate: 0deg;
  }
  35% {
    transform: translateX(3px) translateY(3px) rotate(90deg);
  }
  60% {
    transform: translateX(3px) translateY(3px) rotate(90deg);
  }
  60.1% {
    transform: translateX(3px) translateY(3px) rotate(90deg);
  }
  100% {
    transform: translateX(0) translateY(3px) rotate(135deg);
  }
}
@keyframes kf-span-middle {
  0% {
    rotate: 0deg;
  }
  35% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  60.1% {
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kf-span-end {
  0% {
    rotate: 0deg;
  }
  35% {
    transform: translateX(-3px) translateY(-3px) rotate(90deg);
  }
  60% {
    transform: translateX(-3px) translateY(-3px) rotate(90deg);
  }
  60.1% {
    transform: translateX(-3px) translateY(-3px) rotate(90deg);
  }
  100% {
    transform: translateX(0) translateY(-3px) rotate(225deg);
  }
}
@keyframes kf-menu-appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes kf-title-appear {
  0% {
    transform: tranlateY(200px);
    opacity: 0;
  }
  40% {
    transform: tranlateY(200px);
    opacity: 0;
  }
  100% {
    transform: tranlateY(0px);
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.basic-section, .mv__container, .work {
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
  margin-bottom: 96px;
}
@media screen and (min-width: 600px) {
  .basic-section, .mv__container, .work {
    padding-right: 8.415vw;
    padding-left: 8.415vw;
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 960px) {
  .basic-section, .mv__container, .work {
    padding: 0;
    width: calc(100% - 16.83vw);
    max-width: 1080px;
    margin-bottom: 216px;
  }
}

@media screen and (min-width: 960px) {
  section + section {
    margin-top: 216px;
  }
}

a {
  text-decoration: none;
  color: #00040c;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}

.mb-xl {
  margin-bottom: 88px !important;
}
@media screen and (min-width: 600px) {
  .mb-xl {
    margin-bottom: 142px !important;
  }
}
@media screen and (min-width: 960px) {
  .mb-xl {
    margin-bottom: 216px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 85px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 110px !important;
  }
}

.content-width {
  margin: 0 auto;
  max-width: 1080px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.font-sm {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
}

.font-md, .mv__txt-wrap {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-md, .mv__txt-wrap {
    font-size: 18px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg {
  font-size: 18px;
}
@media screen and (min-width: 960px) {
  .font-lg {
    font-size: 28px;
  }
}

.main-title {
  font-size: 40px;
  line-height: 1.2;
  color: #1565e6;
  font-weight: 600;
}
@media screen and (min-width: 960px) {
  .main-title {
    font-size: 48px;
  }
}

.sub-title {
  line-height: 0.8;
  color: #535353;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .sub-title {
    margin-bottom: 64px;
  }
}

.viewmore-link {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
}

.view-more span {
  vertical-align: middle;
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  .view-more span {
    font-size: 20px;
  }
}
.view-more .arrow-right {
  display: inline-block;
  color: #333;
  line-height: 1;
  position: relative;
  width: 19px;
  height: 2px;
  background: currentColor;
  margin-left: 4px;
}
.view-more .arrow-right::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: -0.05em;
  box-sizing: border-box;
}

.main {
  width: calc(100% - 40px);
  margin-left: 40px;
}
@media screen and (min-width: 600px) {
  .main {
    width: calc(100% - 78px);
    margin-left: 78px;
  }
}
@media screen and (min-width: 960px) {
  .main {
    width: calc(100% - 102px);
    margin-left: 102px;
  }
}

.header {
  position: fixed;
  width: 40px;
  height: 100vh;
  top: 0;
  left: 0;
  border-right: 1px solid #00040c;
}
@media screen and (min-width: 600px) {
  .header {
    width: 78px;
  }
}
@media screen and (min-width: 960px) {
  .header {
    width: 102px;
  }
}
.header__inner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.header__logo {
  width: 100%;
  flex-shrink: 0;
  height: 80px;
  border-bottom: 1px solid #00040c;
}
@media screen and (min-width: 960px) {
  .header__logo {
    height: 192px;
    border-bottom: none;
  }
}
.header__link {
  display: inline-block;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__img {
  width: 92%;
  margin: 0 auto;
  height: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .header__img {
    width: 60%;
  }
}
.header__nav {
  display: none;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header .mobile-menu {
  display: block;
}
@media screen and (min-width: 600px) {
  .header .mobile-menu {
    display: none;
  }
}
.header__ul {
  list-style: none;
  margin-top: 20px;
}
.header__li {
  margin-top: 8px;
}
.header__li a {
  display: block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #00040c;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  padding-left: 20px;
}

.contact {
  padding-left: 40px;
  margin-left: -40px;
  background-color: #1565e6;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 600px) {
  .contact {
    margin-left: -78px;
    padding-left: 78px;
    height: 216px;
  }
}
@media screen and (min-width: 960px) {
  .contact {
    margin-left: -102px;
    padding-left: 102px;
    height: 312px;
  }
}
.contact__title {
  width: 100%;
}
.contact__title .main-title,
.contact__title .sub-title {
  color: #ffffff;
}
@media screen and (min-width: 600px) {
  .contact__title {
    width: auto;
  }
}
.contact__title .sub-title {
  margin-bottom: 0;
}
.contact__inner {
  height: 100%;
}
.contact__link {
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 600px) {
  .contact__link {
    padding: 0;
    flex-direction: row;
    margin-left: 8.415vw;
    margin-right: 8.415vw;
  }
}
@media screen and (min-width: 960px) {
  .contact__link {
    margin: 0 auto;
    width: calc(100% - 16.83vw);
    max-width: 1080px;
  }
}
.contact__bg {
  height: 108px;
  width: 108px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 52px;
}
.contact__bg-mail {
  width: 100%;
  height: auto;
  stroke: #ffffff;
}
@media screen and (min-width: 600px) {
  .contact__bg {
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  .contact__bg {
    width: 144px;
    height: 144px;
  }
}

.footer {
  background-color: #1565e6;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.footer__inner {
  display: flex;
}
.footer__topbtn {
  cursor: pointer;
  width: 39px;
  height: 72px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.footer__topbtn-str {
  display: block;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  transform: rotate(270deg);
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-right: 10px;
}
@media screen and (min-width: 600px) {
  .footer__topbtn-str {
    transform: rotate(0deg);
    padding-right: 0;
    padding-top: 12px;
  }
}
.footer__topbtn-arrow {
  width: 13px;
  height: 13px;
  border-top: 2.5px #ffffff solid;
  border-right: 2.5px #ffffff solid;
}
@media screen and (min-width: 600px) {
  .footer__topbtn-arrow {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 600px) {
  .footer__topbtn {
    width: 78px;
    height: 78px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 960px) {
  .footer__topbtn {
    width: 102px;
    height: 102px;
  }
}
.footer .copyright {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
}
.footer .copyright__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mv {
  position: relative;
  height: 94vh;
}
@media screen and (min-width: 960px) {
  .mv {
    height: 100vh;
  }
}
.mv__container {
  height: 100%;
}
@media screen and (min-width: 960px) {
  .mv__container {
    width: calc(100% - 16.83vw);
    max-width: 1080px;
  }
}
.mv__scrolldown {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}
@media screen and (min-width: 960px) {
  .mv__scrolldown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #c6c6c6;
    width: 102px;
    height: 102px;
    border-radius: 50%;
  }
}
.mv__scrolldown-str {
  font-size: 11px;
}
.mv__scrolldown-arrow {
  transform: transformY(4px) rotate(-225deg);
  animation: bounce 2s linear infinite;
  color: #c6c6c6;
}
@keyframes bounce {
  0% {
    transform: translateY(4px) rotate(-225deg);
    opacity: 0;
  }
  40% {
    transform: translateY(8px) rotate(-225deg);
    opacity: 1;
  }
  60% {
    transform: translateY(12px) rotate(-225deg);
    opacity: 1;
  }
  100% {
    transform: translateY(16px) rotate(-225deg);
    opacity: 0;
  }
}
.mv__title-wrap {
  height: 33.9vh;
  display: flex;
  align-items: flex-end;
}
.mv__title {
  display: inline-block;
}
.mv__title-first {
  font-size: 6.4vw;
  color: #00040c;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: oblique;
  font-weight: 300;
}
@media screen and (min-width: 600px) {
  .mv__title-first {
    font-size: min(3.75vw, 48px);
  }
}
.mv__title-second {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13.33vw;
  color: #00040c;
  line-height: 0.9;
}
@media screen and (min-width: 600px) {
  .mv__title-second {
    font-size: min(10vw, 128px);
  }
}
.mv__title-third {
  font-size: 6.4vw;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-stroke: 1px #1565e6;
  text-align: right;
}
@media screen and (min-width: 600px) {
  .mv__title-third {
    font-size: min(3.75vw, 48px);
  }
}
@media screen and (min-width: 600px) {
  .mv__title-third {
    -webkit-text-stroke: 2px #1565e6;
  }
}
.mv__txt-wrap {
  width: min(100%, 304px);
  font-weight: 600;
  margin-top: 2.884vh;
}
.mv__slide-wrap {
  width: calc(100% + 32px);
  margin-top: 3.57vh;
  margin-left: -16px;
}
@media screen and (min-width: 480px) {
  .mv__slide-wrap {
    max-width: 304px;
    margin-left: auto;
  }
}
@media screen and (min-width: 960px) {
  .mv__slide-wrap {
    max-width: 384px;
  }
}
.mv__slide {
  aspect-ratio: 1.414/1;
  width: 100%;
  background-color: gray;
}
@media screen and (min-width: 480px) {
  .mv__slide {
    aspect-ratio: 1;
  }
}
@media screen and (min-width: 960px) {
  .mv__slide {
    aspect-ratio: auto;
    width: 384px;
    height: 302px;
  }
}
.mv__slide-descript {
  font-size: 12px;
  width: calc(100% - 32px);
  line-height: 14px;
  margin-top: 4px;
  margin-left: 16px;
}
.mv__slide-descript .blue {
  color: #1565e6;
}
@media screen and (min-width: 480px) {
  .mv__slide-descript {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (min-width: 600px) {
  .mv__slide-descript {
    font-size: 14px;
  }
}

.about {
  padding-left: 0;
  padding-right: 0;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 96px;
}
@media screen and (min-width: 600px) {
  .about {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 960px) {
  .about {
    margin-bottom: 216px;
  }
}
.about__inner {
  background-color: #ffffff;
  border: 3px solid #1565e6;
  position: relative;
  padding-top: 56px;
  margin-right: 16px;
  padding-left: 32px;
  padding-right: 16px;
}
@media screen and (min-width: 600px) {
  .about__inner {
    margin-left: 16px;
    max-width: 624px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
  .about__inner {
    max-width: 976px;
    width: 90%;
    padding-left: 80px;
    padding-right: 96px;
  }
}
.about__decoration {
  display: block;
  background-color: #1565e6;
  width: 16px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.about__bg-decoration {
  display: none;
  position: absolute;
}
@media screen and (min-width: 600px) {
  .about__bg-decoration {
    display: block;
    width: 25%;
    height: 40%;
    top: 15px;
    right: 0;
    background-image: url(../images/kazLogo.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.about__title {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}
.about__title .sub-title {
  margin-bottom: 0;
}
.about__title-first {
  margin-bottom: 8px;
  margin-right: 32px;
}
.about__title-second .main-title {
  color: #00040c;
}
@media screen and (min-width: 960px) {
  .about__body {
    display: flex;
    align-items: flex-start;
  }
}
.about__img {
  background-color: #f2f2f2;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__img-wrap {
  width: 100%;
  max-width: 360px;
  margin-bottom: 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 600px) {
  .about__img-wrap {
    max-width: 289px;
  }
}
.about__list {
  text-align: left;
  width: 100%;
  table-layout: auto;
  word-break: break-all;
}
@media screen and (min-width: 960px) {
  .about__list {
    padding-left: 30px;
  }
}
.about__item {
  font-size: 14px;
  line-height: 1.7;
  display: block;
  padding-bottom: 24px;
}
.about__item:last-child .about__list-data {
  margin-bottom: 0;
}
.about__item-head {
  color: #1565e6;
  display: block;
}
.about__item-head::before {
  content: "";
  display: inline-block;
  height: 11px;
  width: 11px;
  background-color: #1565e6;
  margin-right: 5px;
}
.about__item-data {
  display: block;
}
.about__viewmore-link {
  height: 68px;
  border-top: 1px solid #00040c;
  cursor: pointer;
}

.work__item {
  display: flex;
}
.work__item:nth-child(1) .work__item-link {
  border-top: 1px solid #00040c;
}
.work__item-link {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #00040c;
  padding: 16px;
}
@media screen and (min-width: 600px) {
  .work__item-link {
    flex-direction: row;
  }
}
.work__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .work__item-info {
    margin-left: 16px;
  }
}
.work__item-info .view-more {
  text-align: end;
  font-size: 14px;
}
.work__number {
  width: 10vw;
  padding-top: 16px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .work__number {
    width: 64px;
  }
}
.work__number-index {
  font-size: 32px;
  color: #1565e6;
  font-weight: bold;
}
.work__number-maxIndex {
  display: none;
  color: #1565e6;
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  .work__number-maxIndex {
    display: inline;
  }
}
.work__thum {
  aspect-ratio: 1/1;
  background-color: gray;
  margin-bottom: 16px;
}
@media screen and (min-width: 600px) {
  .work__thum {
    max-width: 212px;
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .work__thum {
    max-width: 304px;
  }
}
.work__info-wrap {
  height: 112px;
}
@media screen and (min-width: 600px) {
  .work__info-wrap {
    height: auto;
  }
}
.work__style {
  display: inline-block;
  padding: 2px 4px 2px;
  background-color: #1565e6;
  color: #ffffff;
  font-size: 14px;
  margin-right: 8px;
}
@media screen and (min-width: 960px) {
  .work__style {
    margin-right: 16px;
  }
}
.work__date {
  font-size: 14px;
}
.work__name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}
@media screen and (min-width: 600px) {
  .work__name {
    font-size: 18px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 960px) {
  .work__name {
    font-size: 28px;
    margin-top: 24px;
  }
}
.work__name-en {
  display: none;
  font-size: 12px;
  color: #4f4f4f;
}
@media screen and (min-width: 600px) {
  .work__name-en {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .work__name-en {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */